.img-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 21.25px;

  @media (max-width: $tablet-width-only) {
    gap: 15px;
  }
}

.img-list__item {
  max-width: 17.75%;
  height: 150px;
  flex-grow: 1;
  cursor: pointer;

  @media (max-width: $tablet-width-only) {
    max-width: 20%;
    min-width: 15%;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 50%;
    min-width: 15%;
  }
}

.img-list__img {
  width: 134px;
  height: 150px;
  object-fit: cover;
}
