.search {
  width: 29%;
  height: 108px;
  background-color: $dark-gray;

  @media (max-width: $tablet-width-only) {
    height: 80px;
  }

  @media (max-width: $mobile-width-only) {
    height: 40px;
  }
}
